*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    /*background-color: antiquewhite;*/
    /*background: linear-gradient(rebeccapurple, hotpink) no-repeat;*/
    background-color: grey;
}
.navbar{
    background-color: black;
    color: white;
}

.container-fluid{
    margin: 0 30px;
}

.only-bg{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 200px;
}

.welcome{
    margin: 50px;
}



.linked{
    /*display: inline;*/
    display: inline;
    text-decoration: none;
    color: #ffc107;
    padding: 5px;
    margin-top: 50px;
    font-size: 19px;
    list-style: none;
}

.linked-1:hover{
    cursor: pointer;
    font-size: 17px;
}

.container-subject{
    margin:200px 600px;
}

.card_body{
    display: flex;
    gap: 50px;
}

.button-all{
    border-radius: 19px;
    padding: 10px;
    color: white;
    background-color: black;
}

.exercise{
    color: white;
    background-color: #fff;

}

.start{
    text-decoration: none;
    font-size: 20px;
}

.ram{
    text-decoration: none;
    list-style: none;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 20px;
}




.dropdown-item{
    gap: 30px;
}
.about{
    margin-right: 10px;
    font-size: 20px;
}

.test_decoration{
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 600px;
    max-height: 400px;
    margin: 90px auto 30%;
    padding: 60px;
    background: white url("images/background-1.jpeg");
    box-shadow: 5px 5px 30px;
    border-radius: 10px;
}

.avatar_wrap{
    padding-left: 13%;
    /*background: black;*/
}


.avatar_img{
    /*border: 1px solid;*/
    border-radius: 50%;
    width: 170px;
    /*margin-left: -50%;*/
}

/*.wrapper{*/
/*    display: flex;*/
/*    border: 2px solid ;*/
/*}*/